*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background:linear-gradient(rgba(0,0,0,0.1), black),url(bk1.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
} 
h1{
    font-size: 40px;
    font-family: 'Vollkorn SC', serif;
   
}
.banner-text p{
    font-size: 17px;
    font-family:'Amiri', serif ;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}
.banner-btn{
    position: flex;
    flex-direction: row;
    justify-content: center;
    margin: 70px auto 0;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color:#fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition:color 0.3s;
}
.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;

}

.banner-btn a:hover{
    background-color: white;
    color: #000;
}
@media (max-width:768px){
    body{
        width: 100%;
        height: 100vh;
    }
{}
{}
{}
{}
{}

}
{}
{}
{}
{}
{}
{}
{}
{}

{}
{}
{}
{}
{}
{}
{}
{}
{}